.file-block-card {
    margin: 2px 5px;
    display: inline-block;
    outline: 1px solid rgba(37, 32, 32, 0.08) !important;
    border-radius: 5px;
    user-select: none;
}

.file-block-card:hover {
    background-color: rgba(37, 32, 32, 0.01);
    cursor: move;
}

.file-block-card:hover {
    outline-color: rgba(37, 32, 32, 0.21) !important;
}


